h1 {
    text-align: center;
    font-size: 3rem;

}

input {
    display: block;
    position: relative;
    left: 30%;
    top: 97px;
    width: 40%;
    height: 100px;
    outline: none;
    text-align: center;
    font-size: 2rem;
    background-color: #21f399;
    border: none;
    border-radius: 10px;
}

button {
    position: absolute;
    top: 54%;
    left: 40%;
    padding: 20px 30px;
    font-size: 1rem;
    background-color: wheat;
    border-radius: 17px;
    border: none;
    outline: none;
}

button:hover {
    background-color: pink;
}

p {
    position: absolute;
    top: 66%;
    left: 40%;
    text-align: center;
    font-size: 1.5rem;
    font-style: oblique;
    text-decoration: underline;
}